*.user
*~
Thumbs.db
CommonAssemblyInfo.cs
tags
bin/
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*/CMakeFiles
CMakeCache.txt
*.suo
*.log
*.tlog
build/
*/obj
*VectorOf*.cs
*Generated.cs
*_property.h
*_property.cpp
*vector_*.h
*vector_*.cpp
